@import "../exports.scss";

%btn {
  position: relative;
  padding: 0.7em 1em;
  margin: 1.5em;
  border-radius: 0.2em;
  border: none;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  z-index: 0;
  cursor: pointer;
  transition: opacity 0.5s;

  &::before {
    z-index: -1;
    display: inline-block;
    position: absolute;
    content: "";
    left: 10px;
    bottom: 0;
    right: 10px;
    top: 0;
  }
}

.btn {
  @extend %btn;
  background-image: $green-gradient;

  &::before {
    box-shadow: $green-shadow;
  }
}

.btn-red {
  @extend %btn;
  background-image: $red-gradient;
  &::before {
    box-shadow: $red-shadow;
  }
}

.max-width {
  width: 100%;
}

.btn:disabled {
  opacity: 0.3;
}
