<div>
  <nav>
    <div class="nav" *ngIf="appService.isLoggedIn(); else loggedOut">
      <div [routerLink]="['/']" class="nav-element btn">
        Shop
      </div>
      <div [routerLink]="['/cart']" class="nav-element btn">
        Your Cart
      </div>
      <div (click)="logOut()" class="nav-element btn">
        Log out
      </div>
    </div>


    <ng-template #loggedOut>
      <div [routerLink]="['/login']" class="nav-element btn">
        Log in
      </div>
      <div [routerLink]="['/register']" class="nav-element btn">
        Regiser
      </div>
    </ng-template>
  </nav>
</div>