@import "../../../scss/exports.scss";

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include p(2);
  @include my(7);
  background-color: white;
}

.thumbnail {
  height: 150px;

  img {
    height: 100%;
  }
}
