<form class="form-container" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <h2 style="align-self: flex-start">Reset password</h2>
  <label class="m-b-xs">
    <input type="text" formControlName="username" placeholder="e-mail" />
  </label>
  <label class="m-b-xs">
    <input type="text" formControlName="activationCode" placeholder="reset code" />
  </label>
  <label>
    <input type="password" formControlName="newPassword" placeholder="new password" />
  </label>
  <button type="submit" class="btn max-width" [disabled]="!resetForm.valid">
    Submit
  </button>
</form>