@import "../../../scss/exports.scss";

:host {
  @include p(7);
  display: block;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @include p(3);
  @include my(7);
  background-color: white;
}

.count {
  display: flex;
}

.list {
  flex-direction: column;
}
