/* You can add global styles to this file, and also import other style files */
@import "./scss/layout.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

.green {
  font-size: 0.6em;
  color: $green;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.font-size-xs {
  font-size: 0.7em;
}

.font-size-s {
  font-size: 0.8em;
}

.font-size-m {
  font-size: 0.9em;
}

.btn-circle {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
