/* You can add global styles to this file, and also import other style files */
@import "./scss/layout.scss";

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

.green {
  font-size: 0.6em;
  color: $green;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
