<h1>Add new plant</h1>
<form class="form-container" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div class="form-input">
    <p class="font-size-s">Image</p>
    <input type="file" formControlName="image" (change)="onFileSelect($event)" />
  </div>
  <div class="form-input">
    <p class="font-size-s">Name</p>
    <input type="text" formControlName="name" />
  </div>
  <div class="form-input">
    <p class="font-size-s">Category</p>
    <ng-select class="custom" [items]="items" [clearable]="false" [searchable]="false" formControlName="category">
    </ng-select>
  </div>
  <div class="form-input">
    <p class="font-size-s">Price</p>
    <input type="number" formControlName="price" />
  </div>
  <div class="form-input">
    <p class="font-size-s">Description</p>
    <input type="text" formControlName="description" />
  </div>
  <div class="form-input">
    <button type="submit" class="btn mx-0 max-width" [disabled]="!uploadForm.valid"> Upload</button>
  </div>
</form>


<div *ngIf="currentStatus === STATUS_SUCCESS">
  <h2>Uploaded file successfully.</h2>
</div>