$light-gray: #d6d6d6;
$disabeld-gradient: linear-gradient(to bottom right, #e2e2e2, #c7c7c7);
$green-gradient: linear-gradient(to bottom right, #4ecba0, #07b134);
$green-shadow: 0 0.3em 1.5em 0px rgba(0, 190, 44, 0.5);
$green: #4ecba0;
