<form class="search" [formGroup]="searchTab" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="text">
    <button *ngIf="!isEmpty" class="btn-red" (click)="clear()"><i class="fa fa-times"></i></button>
    <button type="submit" class="btn">
        Search
    </button>
</form>
<!-- <div *ngFor="let plant of plants | async">
    <app-plant-item [plant]="plant"></app-plant-item>
</div> -->
<h1>Foliages plants</h1>
<div *ngFor="let plant of foliages | async">
    <app-plant-item (changePlant)="onChangePlant()" [role]="userRole" [plant]="plant"></app-plant-item>
</div>

<h1>Succulents</h1>
<div *ngFor="let plant of succulents | async">
    <app-plant-item (changePlant)="onChangePlant()" [role]="userRole" [plant]="plant"></app-plant-item>
</div>

<h1>Flowerings</h1>
<div *ngFor="let plant of flowerings | async">
    <app-plant-item (changePlant)="onChangePlant()" [role]="userRole" [plant]="plant"></app-plant-item>
</div>

<button type="submit" class="btn" *ngIf="userRole==='admin'" [routerLink]="['/plant/add']">
    Add new plant
</button>